

var bMobile =   // will be true if running on a mobile device
  navigator.userAgent.indexOf( "Mobile" ) !== -1 || 
  navigator.userAgent.indexOf( "iPhone" ) !== -1 || 
  navigator.userAgent.indexOf( "Android" ) !== -1 || 
  navigator.userAgent.indexOf( "Windows Phone" ) !== -1 ;   

var on_desktop = `
<style>
  .center{text-align:center}
#space-invaders {
  margin: 0 auto;
  display: block;
  background: white;
    
}
  
.mb-100, .my-100 {
    margin-bottom: 0px !important;
}

.pt-md-100, .py-md-100 {
    padding-top: 0px !important; 
}

.pb-md-100, .py-md-100 {
     padding-bottom: 0px !important;
}
.pt-40, .py-40 {
     padding-top: 0px !important; 
}

.mt-100, .my-100 {
     margin-top: 0px !important;
}
</style>


<div class="page-404">
    <div class="container">
        <div class="d-flex flex-column align-items-center py-40 py-md-100 my-100">
            <h1 class="d-flex flex-column align-items-center mb-25">
                404..das heißt...
            </h1>
          <p class="mb-30 text-center" style="font-size:15px">Aliens haben eine unserer Seiten zerstört. Du bist unsere einzige hoffnung!</p>
          <p style="font-size:15px">Steuerung: &#8592;,&#8594;,Leertaste=Schießen <button class="btn" id="restart">Neustart</button></p>
      </div>
      
    </div>
  	
	<canvas id="space-invaders"/>
</div>
`;


var on_mobile = `
<div class="page-404">
    <div class="container">
        <div class="d-flex flex-column align-items-center py-40 py-md-100 my-100">
            <h1 class="d-flex flex-column align-items-center mb-25">
                {{ 'general.404.title_large' | t }}
                <span class="h3 mt-20 mb-0">{{ 'general.404.title' | t }}</span>
            </h1>
            <p class="mb-30 text-center">{{ 'general.404.subtext_html' | t }}</p>
            <a href="/collections/all" class="btn">{{ 'general.404.button' | t }}</a>
        </div>
    </div>
</div>
`;


if (!bMobile) {
	document.getElementById('on_desktop').innerHTML = on_desktop;

} else {
	document.getElementById('on_desktop').innerHTML = on_mobile;
}
